@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.bg-\[\#eaeaea\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 234 234 / var(--tw-bg-opacity));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg-\[\#ff0000\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 0 0 / var(--tw-bg-opacity));
}

.rounded-\[30px\] {
    border-radius: 30px;
}
.overflow-y-scroll {
    overflow-y: scroll;
}
.w-\[70\%\] {
    width: 70%;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.justify-center {
  justify-content: center;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.p-\[20px\] {
  padding: 20px;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}

